.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 20px;
    background-color: rgb(201, 243, 201);
    color: rgb(17, 17, 17);
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.7s ease-in;
    opacity: 0.8;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  